<div class="header">
  <div class="pic">
    <img 
      class="logo" 
      [src]=" isDarkMode ? 
        '../../../assets/Light-logo.png' :
        '../../../assets/Dark-logo.png'" 
      alt="logo" 
      width="70px">
  </div>

  <div class="right-section">
    <p class="welcome-message">Welcome User!</p>
    <button class="log-btn">Log Out</button>
    <img 
      class="theme" 
      [src]=" isDarkMode ? 
        '../../../assets/light-mode-icon.svg' : 
        '../../../assets/dark-mode-icon.svg' " 
      alt="theme icon" 
      (click)="toggleTheme()">
  </div>



        <button class="log-btn">Log Out</button>
        <img class="theme" src="../../../assets/light-mode-icon.svg" alt="theme icon">
    </div>


<div class="container1">
    <div class="text-section">
        <h1>Task Mate</h1>
        <p>Organize and Track Your tasks efficiently</p>
    </div>
    <button class="create-task">+ Create Task</button>
</div>

<div class="filter-buttons">
    <button class="filter-btn active">Completed </button>
    <button class="filter-btn">In Progress </button>
    <button class="filter-btn">TO DO </button>
    <button class="filter-btn">Total Task </button>

</div>

<div class="search-input">
    <input type="text" id="searchInput" placeholder ="Search tasks..." />
</div>

<div class="filter-bar">

    <div class="filter">
        <label for="Status">Status</label>
        <select class="Status">
            <option>select Status</option>
            <option value="open">open</option>
            <option value="in-progress">in-progress</option>
            <option value="Completed">Completed</option>

        </select>
    </div>

    <div class="filter">
        <label for="Priority">Priority</label>
        <select class="Priority">
            <option>select Priority</option>
            <option value="low">low</option>
            <option value="medium ">medium</option>
            <option value="high">high</option>


        </select>
    </div>

    <div class="filter">
        <label for="Sort">Sort By</label>
        <select id="Sort">
            <option>Sort By</option>
            <option value="date">date</option>
            <option value="priority">Priority</option>
            <option value="status">status</option>

        </select>
    </div>

</div>