<div class="login-container">
  <div class="image-section">
    <img src="assets/task.jpg" alt="Task illustration">
  </div>


  <div class="login-card">
    <img src="https://cdn-icons-png.freepik.com/512/4661/4661334.png" alt="Auth0 Logo" class="logo">
    <h2>Create Account</h2>
    <p class="subtitle">Sign up to start managing your tasks</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="fullname" placeholder="Full Name" formControlName="name">
        <div class="error" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <input type="email" placeholder="Email address" formControlName="email">
        <div class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Valid email required!
        </div>
      </div>

      <div class="form-group">
        <input type="password" placeholder="Password" formControlName="password">
        <div class="error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          Password must be at least 6 characters
        </div>
      </div>

      <div *ngIf="registerError" class="login-error">{{ registerError }}</div>

      <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
    </form>

    <p class="signup">Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
