
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  
}


.login-card {
  flex: 1;
  background-color: white;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
}

.login-card .logo {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5rem;
}

.login-card h2 {
  font-size: 2rem;
  color: black;
  margin-bottom: 0.5rem;
}

.login-card .subtitle {
  color: blue;
  margin-bottom: 2rem;
}

form {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input[type="fullname"],
input[type="email"],
input[type="password"] {
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.4);
}

.error {
  color: #e63946;
  font-size: 0.85rem;
  margin-top: 4px;
}

.login-error {
  color: #e63946;
  margin-top: 10px;
  text-align: center;
}


button[type="submit"] {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #357ab8;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.divider {
  text-align: center;
  margin: 1.5rem 0;
  color: #aaa;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}


.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  max-width: 340px;
}

.social-buttons button {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-buttons button:hover {
  background-color: #f2f2f2;
}


.signup {
  margin-top: 1.5rem;
  color: #555;
}

.signup a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: 600;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}


@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }

  .login-card {
    flex: none;
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .image-section {
    display: none;
  }
}
