<div class="container1">
    <div class="text-section">
        <h1>Task Mate</h1>
        <p>Organize and Track Your tasks efficiently</p>

    </div>
    
</div>

<div class="filter-buttons">
    <button class="filter-btn">Total Task </button>
    <button class="filter-btn">TO DO </button>
    <button class="filter-btn">In Progress </button>
    <button class="filter-btn active">Completed </button>

</div>

<div class="search-input">
 
  <input type="text" id="searchInput" placeholder="Search tasks..." />
   <button class="search-btn">Search</button>
</div>


<div class="filter-bar">

    <div class="filter">
        <label for="Status">Status</label>
        <select class="Status">
            <option>select Status</option>
            <option value="open">open</option>
            <option value="in-progress">in-progress</option>
            <option value="Completed">Completed</option>

        </select>
    </div>

    <div class="filter">
        <label for="Priority">Priority</label>
        <select class="Priority">
            <option>select Priority</option>
            <option value="low">low</option>
            <option value="medium ">medium</option>
            <option value="high">high</option>


        </select>
    </div>

    <div class="filter">
        <label for="Sort">Sort By</label>
        <select id="Sort">
            <option>Sort By</option>
            <option value="date">date</option>
            <option value="priority">Priority</option>
            <option value="status">status</option>

        </select>
    </div>

</div>