/* Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom styles */

:root {
  --bg-gradient: linear-gradient(to bottom,
    #F1C7FF 0%,
    #F1D6FF 10%,
    #B9D2FA 60%,
    #C2E9FB 100%
  );
  --text-primary: #08000c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-gradient: linear-gradient(to bottom,
      #8120B5 0%,
      #8C00FF 10%,
      #008FE2 60%,
      #7BB6C7 100%
    );
    --text-primary: #f5edff;
  }
}

/* Body styles */

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--bg-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
}
