.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid black;

}

button {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(229, 140, 229);
  border: 5px solid  rgb(229, 140, 229);
  color: white;
}

button:hover {
    background-color:  rgb(104, 184, 237);
       border: 5px solid rgb(104, 184, 237) ;

}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card {
  border: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
    background:rgba(255, 255, 255, 0.2);
    color: black;
  

}

.task-card h3 {
  margin: 0 0 5px 0;
}

.task-card button {
  margin-right: 10px;
}
.create-info{
  background:rgba(255, 255, 255, 0.2);
padding: 20px 30px;
margin-left: 10px;
margin-right: 10px;
border-radius: 15px;

}
.head{
  text-align: center;
  margin-bottom: 10px;
}

.task-card-button{

  font-size: 12px;

}