.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid lightgrey;

}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid grey;
}

button:hover {
    background-color: lightgray;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.task-card h3 {
  margin: 0 0 5px 0;
}

.task-card button {
  margin-right: 10px;
}
